@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

}

/* width */
::-webkit-scrollbar{
  width: 8px;
}
/* track */
::-webkit-scrollbar-track{
  background-color: #0a192f;
}
/* handle */
::-webkit-scrollbar-track{
  background: #0A192F;
  border-radius: 10px;
}

.p{
  animation: p is infinite; 
}

@keyframes p{
  0%{
    opacity: 1;
  }

  50%{
    opacity: 0.5;
  }
   
  100%{
    opacity: 0.5;
  }
}
.o{
  animation: o is infinite; 
}

@keyframes o{
  0%{
    opacity: 1;
  }

  50%{
    opacity: 0.5;
  }
   
  100%{
    opacity: 0.5;
  }
}
.r{
  animation: r is infinite; 
}

@keyframes r{
  0%{
    opacity: 1;
  }

  50%{
    opacity: 0.5;
  }
   
  100%{
    opacity: 0.5;
  }
}
.t{
  animation: t is infinite; 
}

@keyframes t{
  0%{
    opacity: 1;
  }

  50%{
    opacity: 0.5;
  }
   
  100%{
    opacity: 0.5;
  }
}
.f{
  animation: f is infinite; 
}

@keyframes f{
  0%{
    opacity: 1;
  }

  50%{
    opacity: 0.5;
  }
   
  100%{
    opacity: 0.5;
  }
}
.o{
  animation: o is infinite; 
}

@keyframes o{
  0%{
    opacity: 1;
  }

  50%{
    opacity: 0.5;
  }
   
  100%{
    opacity: 0.5;
  }
}
.l{
  animation: l is infinite; 
}

@keyframes l{
  0%{
    opacity: 1;
  }

  50%{
    opacity: 0.5;
  }
   
  100%{
    opacity: 0.5;
  }
}
.i{
  animation: i is infinite; 
}

@keyframes i{
  0%{
    opacity: 1;
  }

  50%{
    opacity: 0.5;
  }
   
  100%{
    opacity: 0.5;
  }
}
.a{
  animation: a is infinite; 
}

@keyframes a{
  0%{
    opacity: 1;
  }

  50%{
    opacity: 0.5;
  }
   
  100%{
    opacity: 0.5;
  }
}